body {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    background-color: rgb(242,235,228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*.container {
  display: grid;
  /* Creates 3 columns that always stay in a 1:2:1 ratio regardless of window size 
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2vw; /* Spacing that grows/shrinks based on window width 
  padding: 5%; 
} */

h1{
    text-align: left;
    font-size: 40px;
    font-family: Verdana;
    color: rgb(93,64,45);
    margin-left: 50px;
    margin-top: 50px;
}

p{
    text-align: left;
    font-size: 18px;
    font-family: Verdana;
    color: rgb(93,64,45);
    line-height: 10px;
    margin-left: 50px;
}

.button{
    width: 120px;
    height: 90px;
    background-color:rgb(189,168,149);
    border-color:rgb(189,168,149);
    border-radius: 10px;

    font-size: 18px;
    font-family: Verdana;
    color:rgb(93,64,45);
}

#No{
    margin-top: -10px;
    margin-left: 10px;
}

#Yes{
    margin-top: -10px;
    margin-left: 10px;
}

.popup{
    width:400px;
    height: 300px;
    background:white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}

.open-popup{
    visibility: visible;
}

h2{
    text-align: center;
    font-size: 45px;
    font-family: Verdana;
    color: rgb(93,64,45);
}

#ok{
    background-color:rgb(189,168,149);
    border-color:rgb(189,168,149);
    border-radius: 10px;
    margin-left: 38%;
    margin-top: -10px ;

    font-size: 18px;
    font-family: Verdana;
    color:rgb(93,64,45);

    width: 100px;
    height: 50px;
}

#nezuko{
    bottom: 50px;
    right: 400px;
    aspect-ratio: 99/80;
}

#zenitsu{
    bottom: 200px;
    right: 200px;
}

#tanjiro{
    bottom: 50px;
    left: 300px;
}